.color1 {
    color: #20da99;
}

.color2 {
    color: #c7e87e;
}

.color3 {
    color: #7a0945;
}

.color4 {
    color: #bb1150;
}

.color5 {
    color: #f17372;
}

/* font-family: 'Josefin Sans', sans-serif; */
.font1 {
    font-family: 'Josefin Sans', sans-serif;
}

* {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    /* border: solid red 1px; */
}

.layout {
    width: 100%;
    height: 100%;
}

header {
    height: 10vh;
    font-family: 'Josefin Sans', sans-serif !important;
}

main {
    min-height: 80vh;
}

footer {
    min-height: 30vh !important;
}

/* header edit */

.headerLogo {
    height: 100%;
}

.nav-link {
    color: #c7e87e;
    font-weight: 630;
}

.nav-link:hover {
    color: #c7e87e;
}

.dropdown-menu {
    transition: 0.2s;
    padding: 0.5rem !important;
    background-color: black;
}

.nav-item {
    transition: 0.3s;
}

.nav-item:hover,
.nav-link:hover {
    color: #7a0945;
    background-color: #20da99;
    transition: 0.2s;
}

.dropdown-item {
    color: #bb1150;
    font-weight: 630;
    padding: 0.3rem !important;
    border-radius: 0.3rem !important;
}

.dropdown-item:hover {
    background-color: #7a0945;
    color: #c7e87e;
    transition: 0.4s;
}

.searchIcon {
    color: #c7e87e;
    font-weight: 800;
    font-size: 1.5rem;
}

.logBtn {
    background-color: #20da99;
    height: 100%;
    width: 7rem;
    margin-right: 2rem !important;
    border: none;
    color: #7a0945;
    font-weight: 650;
}

input[type="search"] {
    outline: none !important;
}

/* main edit */

/* carrusel */

.carousel-inner {
    height: 90vh !important;
}

.carImg {
    height: 90vh !important;
    object-fit: cover !important;
}

.btnIndicator {
    height: 1rem !important;
    background-color: #20da99 !important;
    opacity: 1 !important;
}

.active {
    background-color: #bb1150 !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #20da99 !important;
    opacity: 1 !important;
    height: 3rem !important;
}

.carousel-text {
    position: absolute !important;
    left: 10vw !important;
    bottom: 15vh !important;
    /* z-index: 1 !important; */
    background-color: #bb114fe3;
    width: 35%;
    color: #20da99;
    font-weight: 900 !important;
    font-family: 'Josefin Sans', sans-serif !important;
}

/* podcast cards */

.sectionTitle {
    font-family: 'Josefin Sans', sans-serif !important;
}

.cardSection {
    min-height: 50vh;
    font-family: 'Josefin Sans', sans-serif !important;
}

.podcast-card-container {
    width: 85%;
    height: 50vh;
}

.podcast-card {
    width: 20%;
    min-height: 3vh;
    margin: 0.3rem !important;
    transition: 0.3s;
}

.podcast-card:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease 0.25s !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.cardImg {
    width: 100%;
}

.card-title {
    font-weight: 800;
    color: #7a0945;
    background-color: white;
}

.orden-des {
    font-size: 0.7rem;
    background-color: white;
}

.card-icon {
    color: #7a0945;
    font-size: x-large;
    cursor: pointer;
    transition: 0.3;
}

.card-icon:hover {
    color: green;
    transition: 0.3s;
}

.card-btn {
    background-color: white;
    color: #7a0945;
    font-size: small;
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.4rem !important;
    transition: 0.2s;
    border: outset 0.5px black !important;
    border-style: solid !important;
}

.card-btn:hover {
    transition: 0.2s;
    background-color: #20da99;
    color: #7a0945;
}

.card-connections {
    display: none !important;
}

.card-description {
    max-height: 4rem !important;
    overflow-y: auto;
    font-size: 0.7rem;
    font-weight: 500;
    display: none;
}

.podcast-card:hover .card-description {
    display: flex !important;
    background-color: white !important;
}

.podcast-card:hover .card-connections {
    display: flex !important;
    background-color: white !important;
}

/* podcasters section */

.podcaster-section {
    width: 100%;
    min-height: 50vh;
}

.podcaster-section-interior {
    width: 85%;
}

.podcaster-image {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.podcaster-individual-container:hover {
    filter: sepia(100%);
    transition: all 0.5s;
    cursor: pointer;
}